data/ceesim/schema/test_automation/taCommonSimpleTypesR1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////
     // 
     // All CEESIM file formats and templates, whether ASCII or binary, and whether
     // electronic or print, are proprietary to Northrop Grumman. Protected from
     // further disclosure by the Trade Secrets Act, 18 U.S.C. section 1905, and
     // exempt from disclosure under the Freedom of Information Act, 5 U.S.C.
     // section 552(b)(4). No license, express or implied, is granted under any
     // patents, copyrights, trade secrets, or any other intellectual property right
     // of Northrop Grumman.
     //
     /////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema 
    targetNamespace="http://www.amherst.com/CEESIM/XML"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://www.amherst.com/CEESIM/XML"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
>

  <!--
    Note:
    
    If a change to be made will cause the revision of this file to be incremented, then first
    create a copy of this file and rename with the new revision number.  Add a change comment
    to the new copy of the file only and introduce the new file into CM when the change is
    complete.
    
    Change History:
    
    Date        Who  Revision  Description
    2013-03-11  XXX  1.0       Original.
    2014-01-29  JSP  1.0       Add stDoubleLeaveOpenTime.
                               Change max of stStringPathAndFileName from 128 to 4095.
  -->

  <xsd:simpleType name="stBoolDefaultFalse">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  
  <xsd:simpleType name="stBoolDefaultTrue">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>true</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  
  <xsd:simpleType name="stDoubleEventTime">
    <xsd:annotation>
      <xsd:appinfo>
         <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="137438"/>
    </xsd:restriction>
  </xsd:simpleType>

 <xsd:simpleType name="stDoubleAltitude">
    <xsd:annotation>
      <xsd:appinfo>
         <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-3280833"/>
      <xsd:maxInclusive value="3280833"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleLeaveOpenTime">
    <xsd:annotation>
      <xsd:appinfo>
         <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="86400"/>
    </xsd:restriction>
  </xsd:simpleType>

 <xsd:simpleType name="stDoubleSpeed">
    <xsd:annotation>
      <xsd:appinfo>
         <DefaultValue>500</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0.540"/>
      <xsd:maxInclusive value="5399.568"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stEnumCopyOrMove">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Copy" />
      <xsd:enumeration value="Move" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stEnumOperation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Off" />
      <xsd:enumeration value="On" />
      <xsd:enumeration value="Reset" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stEnumSimFileType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Scenario" />
      <xsd:enumeration value="EML" />
      <xsd:enumeration value="SEL" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stEnumSimulationClockSpeed">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="OneSixteenth" />
      <xsd:enumeration value="OneEight" />
      <xsd:enumeration value="OneFourth" />
      <xsd:enumeration value="OneHalf" />
      <xsd:enumeration value="One" />
      <xsd:enumeration value="Two" />
      <xsd:enumeration value="Four" />
      <xsd:enumeration value="Eight" />
      <xsd:enumeration value="Sixteen" />
      <xsd:enumeration value="FastForward" />
    </xsd:restriction>
  </xsd:simpleType>

   <xsd:simpleType name="stIntDpmNumber">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue>1</DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:int">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="32"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stIntEmitterNumber">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue>1</DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:int">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="1024"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stIntEmitterId">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue>1</DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:int">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="1024"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stIntPlatformNumber">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue>1</DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:int">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="1024"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stIntTimeout">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue>1</DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:int">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="86400"/>
      </xsd:restriction>
   </xsd:simpleType>


   <xsd:simpleType name="stStringApplicationName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringArgument">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringFileName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stEnumSimulation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Simulation" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stStringComment">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="10000"/>
    </xsd:restriction>
  </xsd:simpleType>

   <xsd:simpleType name="stStringDatabaseName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringEmitterId">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringEmitterName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringFileFormat">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

  <xsd:simpleType name="stStringFormatFileName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

 <xsd:simpleType name="stStringTransformFileName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringLibraryName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringModeName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringPlatformName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringRequirementId">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="256"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stStringRequirementSource">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="256"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stStringRequirementText">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="10000"/>
    </xsd:restriction>
  </xsd:simpleType>

   <xsd:simpleType name="stStringPathAndFileName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="4095"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringTestName">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringDescription">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="stStringDataBase">
      <xsd:annotation>
         <xsd:appinfo>
            <DefaultValue></DefaultValue>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>




</xsd:schema>
