data/ceesim/schema/test_automation/taSimulationCommandsR1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////
     // 
     // All CEESIM file formats and templates, whether ASCII or binary, and whether
     // electronic or print, are proprietary to Northrop Grumman. Protected from
     // further disclosure by the Trade Secrets Act, 18 U.S.C. section 1905, and
     // exempt from disclosure under the Freedom of Information Act, 5 U.S.C.
     // section 552(b)(4). No license, express or implied, is granted under any
     // patents, copyrights, trade secrets, or any other intellectual property right
     // of Northrop Grumman.
     //
     /////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema
    targetNamespace="http://www.amherst.com/CEESIM/XML"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://www.amherst.com/CEESIM/XML"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
>

  <!--
    Note:
    
    If a change to be made will cause the revision of this file to be incremented, then first
    create a copy of this file and rename with the new revision number.  Add a change comment
    to the new copy of the file only and introduce the new file into CM when the change is
    complete.
    
    Change History:
    
    Date        Who  Revision  Description
    2013-03-11  XXX  1.0       Original.
    2013-12-13  KJG  1.0       Added ctSetDebugOptionsCmd complex type.
    2013-12-23  JSP  1.0       Added ctOpenAllScenariosCmd complex type.
    2014-01-29  JSP  1.0       Added fields to ctOpenAllScenariosCmd.
  -->

  <xsd:include schemaLocation="taCommonSimpleTypesR1-0.xsd"/>
  <xsd:include schemaLocation="taCommonComplexTypesR1-0.xsd"/>

  <xsd:complexType name="ctClockControlCmd" >
    <xsd:all>
      <xsd:element name="EventTime" type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctChangeRadiationCmd" >
    <xsd:all>
      <xsd:element name="EventTime" type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctCloseScenarioCmd" >
    <xsd:all>
      <xsd:element name="EventTime" type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctCloseEmlCmd" >
    <xsd:all>
      <xsd:element name="EventTime" type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctCloseSelCmd" >
    <xsd:all>
      <xsd:element name="EventTime" type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctCopyEmlCmd" >
    <xsd:all>
      <xsd:element name="EventTime"       type="ce:stDoubleEventTime"     minOccurs="1" maxOccurs="1"/>
      <xsd:element name="NewDatabaseName" type="ce:stStringDatabaseName"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NewLibraryName"  type="ce:stStringLibraryName"   minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctCopyOrMoveEmitterCmd" >
    <xsd:all>
      <xsd:element name="EventTime"                 type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SourceFileType"            type="ce:stEnumSimFileType"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SourcePlatformName"        type="ce:stStringPlatformName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourceEmitterNumber"       type="ce:stIntEmitterNumber"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourceEmitterName"         type="ce:stStringEmitterName"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourceEmitterId"           type="ce:stStringEmitterId"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DestinationFileType"       type="ce:stEnumSimFileType"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DestinationPlatformNumber" type="ce:stIntPlatformNumber"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DestinationPlatformName"   type="ce:stStringPlatformName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DestinationEmitterNumber"  type="ce:stIntEmitterNumber"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DestinationEmitterName"    type="ce:stStringEmitterName"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CopyOrMove"                type="ce:stEnumCopyOrMove"     minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Replace"                   type="xsd:boolean"             minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctCopyOrMoveEmitterModeCmd" >
    <xsd:all>
      <xsd:element name="EventTime"                type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SourceFileType"           type="ce:stEnumSimFileType"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SourcePlatformName"       type="ce:stStringPlatformName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourceEmitterNumber"      type="ce:stIntEmitterNumber"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourceEmitterName"        type="ce:stStringEmitterName"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourceEmitterId"          type="ce:stStringEmitterId"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ModeName"                 type="ce:stStringModeName"     minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DestinationFileType"      type="ce:stEnumSimFileType"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DestinationPlatformName"  type="ce:stStringPlatformName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DestinationEmitterNumber" type="ce:stIntEmitterNumber"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DestinationEmitterName"   type="ce:stStringEmitterName"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DestinationEmitterId"     type="ce:stStringEmitterId"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CopyOrMove"               type="ce:stEnumCopyOrMove"     minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Replace"                  type="xsd:boolean"             minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctCopyOrMovePlatformCmd" >
    <xsd:all>
      <xsd:element name="EventTime"            type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SourceFileType"       type="ce:stEnumSimFileType"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SourcePlatformNumber" type="ce:stIntPlatformNumber"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourcePlatformName"   type="ce:stStringPlatformName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DestinationFileType"  type="ce:stEnumSimFileType"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="CopyOrMove"           type="ce:stEnumCopyOrMove"     minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Replace"              type="xsd:boolean"             minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctCopySelCmd" >
    <xsd:all>
      <xsd:element name="EventTime"       type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="NewDatabaseName" type="ce:stStringDatabaseName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NewLibraryName"  type="ce:stStringLibraryName"  minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctCreateEmlCmd" >
    <xsd:all>
      <xsd:element name="EventTime"    type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DatabaseName" type="ce:stStringDatabaseName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LibraryName"  type="ce:stStringLibraryName"  minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

   <xsd:complexType name="ctCreateScenarioCmd" >
      <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
   </xsd:complexType>

   <xsd:complexType name="ctCreateSelCmd" >
    <xsd:all>
      <xsd:element name="EventTime"    type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DatabaseName" type="ce:stStringDatabaseName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LibraryName"  type="ce:stStringLibraryName"  minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctDeleteEmitterCmd" >
    <xsd:all>
      <xsd:element name="EventTime"           type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SourceFileType"      type="ce:stEnumSimFileType"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SourcePlatformName"  type="ce:stStringPlatformName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourceEmitterNumber" type="ce:stIntEmitterNumber"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourceEmitterName"   type="ce:stStringEmitterName"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourceEmitterId"     type="ce:stStringEmitterId"    minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctDeleteEmitterEventCmd" >
    <xsd:all>
      <xsd:element name="EventTime"        type="ce:stDoubleEventTime"  minOccurs="1" maxOccurs="1"/>
      <xsd:element name="EmitterNumber"    type="ce:stIntEmitterNumber" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="EmitterEventTime" type="ce:stDoubleEventTime"  minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctDeleteEmitterModeCmd" >
    <xsd:all>
      <xsd:element name="EventTime"                     type="ce:stDoubleEventTime"     minOccurs="1"   maxOccurs="1"/>
      <xsd:element name="FileType"                      type="ce:stEnumSimFileType"     minOccurs="1"   maxOccurs="1"/>
      <xsd:element name="PlatformName"                  type="ce:stStringPlatformName"  minOccurs="0"   maxOccurs="1"/>
      <xsd:element name="EmitterNumber"                 type="ce:stIntEmitterNumber"    minOccurs="0"   maxOccurs="1"/>
      <xsd:element name="EmitterName"                   type="ce:stStringEmitterName"   minOccurs="0"   maxOccurs="1"/>
      <xsd:element name="EmitterId"                     type="ce:stStringEmitterId"     minOccurs="0"   maxOccurs="1"/>
      <xsd:element name="ModeName"                      type="ce:stStringModeName"      minOccurs="1"   maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctDeleteEmlCmd" >
    <xsd:all>
      <xsd:element name="EventTime"    type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DatabaseName" type="ce:stStringDatabaseName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LibraryName"  type="ce:stStringLibraryName"  minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctDeleteSelCmd" >
    <xsd:all>
      <xsd:element name="EventTime"    type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DatabaseName" type="ce:stStringDatabaseName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LibraryName"  type="ce:stStringLibraryName"  minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctDeletePlatformCmd" >
    <xsd:all>
      <xsd:element name="EventTime"      type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FileType"       type="ce:stEnumSimFileType"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="PlatformNumber" type="ce:stIntPlatformNumber"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PlatformName"   type="ce:stStringPlatformName" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctDeletePlatformEventCmd" >
    <xsd:all>
      <xsd:element name="EventTime"         type="ce:stDoubleEventTime"   minOccurs="1" maxOccurs="1"/>
      <xsd:element name="PlatformNumber"    type="ce:stIntPlatformNumber" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="PlatformEventTime" type="ce:stDoubleEventTime"   minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctExitSimulationCmd" >
    <xsd:all>
      <xsd:element name="EventTime" type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctExportEmitterModesCmd" >
    <xsd:all>
      <xsd:element name="EventTime"            type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ExportOptions"        type="ce:ctExportOptions"      minOccurs="1" maxOccurs="1"/>      
      <xsd:element name="EmitterModesToExport" type="ce:ctExportEmitterModes" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FileType"             type="ce:stEnumSimFileType"    minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctExportEmittersCmd" >
    <xsd:all>
      <xsd:element name="EventTime"        type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ExportOptions"    type="ce:ctExportOptions"   minOccurs="1" maxOccurs="1"/>      
      <xsd:element name="EmittersToExport" type="ce:ctEmitterKeys"     minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FileType"         type="ce:stEnumSimFileType" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

 <xsd:complexType name="ctExportEmlCmd" >
    <xsd:all>
      <xsd:element name="EventTime"     type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ExportOptions" type="ce:ctExportOptions"   minOccurs="1" maxOccurs="1"/>       
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctExportPlatformsCmd" >
    <xsd:all>
      <xsd:element name="EventTime"     type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ExportOptions" type="ce:ctExportOptions"   minOccurs="1" maxOccurs="1"/>    
      <xsd:element name="PlatformKeys"  type="ce:ctPlatformKeys"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FileType"      type="ce:stEnumSimFileType" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctExportSelCmd" >
    <xsd:all>
      <xsd:element name="EventTime"     type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ExportOptions" type="ce:ctExportOptions"   minOccurs="1" maxOccurs="1"/>      
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctImportEmittersCmd" >
    <xsd:all>
      <xsd:element name="EventTime"       type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ImportOptions"   type="ce:ctImportOptions"   minOccurs="1" maxOccurs="1"/>      
      <xsd:element name="ImportEmitterTo" type="ce:ctPlatformKeys"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FileType"        type="ce:stEnumSimFileType" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctImportEmitterModesCmd" >
    <xsd:all>
      <xsd:element name="EventTime"            type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ImportOptions"        type="ce:ctImportOptions"   minOccurs="1" maxOccurs="1"/>      
      <xsd:element name="ImportEmitterModesTo" type="ce:ctEmitterKeys"     minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FileType"             type="ce:stEnumSimFileType" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctImportEmlCmd" >
    <xsd:all>
      <xsd:element name="EventTime"     type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ImportOptions" type="ce:ctImportOptions"   minOccurs="1" maxOccurs="1"/>     
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctImportPlatformsCmd" >
    <xsd:all>
      <xsd:element name="EventTime"     type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ImportOptions" type="ce:ctImportOptions"   minOccurs="1" maxOccurs="1"/>      
      <xsd:element name="FileType"      type="ce:stEnumSimFileType" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

 <xsd:complexType name="ctImportSelCmd" >
    <xsd:all>
      <xsd:element name="EventTime"     type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ImportOptions" type="ce:ctImportOptions"   minOccurs="1" maxOccurs="1"/>       
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctOpenAllScenariosCmd" >
      <xsd:all>
         <xsd:element name="FolderName"       type="ce:stStringPathAndFileName" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Recursive"        type="xsd:boolean"                minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EnableRadiation"  type="xsd:boolean"                minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StartSimClock"    type="xsd:boolean"                minOccurs="0" maxOccurs="1"/>
         <xsd:element name="SaveScenario "    type="xsd:boolean"                minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LeaveOpenTime"    type="ce:stDoubleLeaveOpenTime"   minOccurs="0" maxOccurs="1"/>
      </xsd:all>
      <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
   </xsd:complexType>

   <xsd:complexType name="ctOpenEmlCmd" >
    <xsd:all>
      <xsd:element name="EventTime"    type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DatabaseName" type="ce:stStringDatabaseName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LibraryName"  type="ce:stStringLibraryName"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Refresh"      type="xsd:boolean"             minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

   <xsd:complexType name="ctOpenScenarioCmd" >
      <xsd:all>
         <xsd:element name="FileName" type="ce:stStringPathAndFileName" minOccurs="1" maxOccurs="1"/>
      </xsd:all>
      <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
   </xsd:complexType>

   <xsd:complexType name="ctOpenSelCmd" >
    <xsd:all>
      <xsd:element name="EventTime"    type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DatabaseName" type="ce:stStringDatabaseName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LibraryName"  type="ce:stStringLibraryName"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Refresh"      type="xsd:boolean"             minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctPrintEmlCmd" >
    <xsd:all>
      <xsd:element name="EventTime"      type="ce:stDoubleEventTime"       minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FormatFileName" type="ce:stStringPathAndFileName" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctPrintSelCmd" >
    <xsd:all>
      <xsd:element name="EventTime"      type="ce:stDoubleEventTime"       minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FormatFileName" type="ce:stStringPathAndFileName" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctProcessingDelayCmd" >
    <xsd:all>
      <xsd:element name="DelayTime" type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctResetSimulationTimeCmd" >
    <xsd:all>
      <xsd:element name="EventTime" type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name ="ctSetDebugOptionsCmd" >
    <xsd:choice minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="DisableCwRandomPri" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </xsd:choice>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>
   
  <xsd:complexType name="ctSetEmitterModeSummerCmd" >
    <xsd:all>
      <xsd:element name="EventTime"     type="ce:stDoubleEventTime"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FileType"      type="ce:stEnumSimFileType"    minOccurs="1" maxOccurs="1"/>
      <xsd:element name="PlatformName"  type="ce:stStringPlatformName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EmitterNumber" type="ce:stIntEmitterNumber"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EmitterName"   type="ce:stStringEmitterName"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EmitterId"     type="ce:stStringEmitterId"    minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ModeName"      type="ce:stStringModeName"     minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctSetSimulationClockSpeedCmd" >
    <xsd:all>
      <xsd:element name="EventTime"  type="ce:stDoubleEventTime"          minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ClockSpeed" type="ce:stEnumSimulationClockSpeed" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctSetSimulationTimeCmd" >
    <xsd:all>
       <xsd:element name="EventTime"      type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
       <xsd:element name="SimulationTime" type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>
  
  <!-- Options for SetSimPreferences
   Altitude Reference Options :   ABOVE_TERRAIN  |  ABOVE_SEA_LEVEL
   Orientation Method Options :   COUPLED_BODY_AXIS_RATES  |  UNCOUPLED_EULER_ANGLE_RATES
   Pitch Reference Options    :   RELATIVE_TO_CLIMB_ANGLE  |  RELATIVE_TO_ZERO
   Speed Mode Options         :   ACCELERATING  |  CONSTANT
   Measurement System         :   METRIC  |  ENGLISH
   -->
  <xsd:complexType name="ctSetSimPreferencesCmd" >
    <xsd:all>
       <xsd:element name="EventTime"         type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
       <xsd:element name="Altitude"          type="ce:stDoubleAltitude"  minOccurs="0" maxOccurs="1"/>
       <xsd:element name="AltitudeReference" type="xsd:string"           minOccurs="0" maxOccurs="1"/>
       <xsd:element name="MeasurementSystem" type="xsd:string"           minOccurs="0" maxOccurs="1"/>
       <xsd:element name="OrientationMethod" type="xsd:string"           minOccurs="0" maxOccurs="1"/>
       <xsd:element name="Pitch"             type="ce:ctSetRateAndAngle" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="PitchReference"    type="xsd:string"           minOccurs="0" maxOccurs="1"/>   
       <xsd:element name="Roll"              type="ce:ctSetRateAndAngle" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="Speed"             type="ce:stDoubleSpeed"     minOccurs="0" maxOccurs="1"/>
       <xsd:element name="SpeedMode"         type="xsd:string"           minOccurs="0" maxOccurs="1"/>
       <xsd:element name="Yaw"               type="ce:ctSetRateAndAngle" minOccurs="0" maxOccurs="1"/>                    
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctSignInDbCmd" >
    <xsd:all>
       <xsd:element name="EventTime"     type="ce:stDoubleEventTime" minOccurs="1" maxOccurs="1"/>
       <xsd:element name="DatabaseNames" type="ce:ctDatabaseNames"   minOccurs="1" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctStartPulseCollectionCmd" >
    <xsd:all minOccurs="1">
      <xsd:element name="EventTime"                 type="ce:stDoubleEventTime"       minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DpmNumber"                 type="ce:stIntDpmNumber"          minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DpmContentOptionsFileName" type="ce:stStringPathAndFileName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EgaPdwFileName"            type="ce:stStringPathAndFileName" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ctStopPulseCollectionCmd" >
    <xsd:all minOccurs="1">
      <xsd:element name="EventTime"                 type="ce:stDoubleEventTime"       minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DpmNumber"                 type="ce:stIntDpmNumber"          minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DpmContentOptionsFileName" type="ce:stStringPathAndFileName" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DpmPdwFileName"            type="ce:stStringPathAndFileName" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
    <xsd:attribute name="app" type="ce:stEnumSimulation" use="required"/>
  </xsd:complexType>

</xsd:schema>
