data/ceesim/schema/test_automation/testAutomationRootR1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////
     // 
     // All CEESIM file formats and templates, whether ASCII or binary, and whether
     // electronic or print, are proprietary to Northrop Grumman. Protected from
     // further disclosure by the Trade Secrets Act, 18 U.S.C. section 1905, and
     // exempt from disclosure under the Freedom of Information Act, 5 U.S.C.
     // section 552(b)(4). No license, express or implied, is granted under any
     // patents, copyrights, trade secrets, or any other intellectual property right
     // of Northrop Grumman.
     //
     /////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema
    targetNamespace="http://www.amherst.com/CEESIM/XML"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://www.amherst.com/CEESIM/XML"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
>

  <!--
    Note:
    
    If a change to be made will cause the revision of this file to be incremented, then first
    create a copy of this file and rename with the new revision number.  Add a change comment
    to the new copy of the file only and introduce the new file into CM when the change is
    complete.
    
    Change History:
    
    Date        Who  Revision  Description
    2013-03-11  XXX  1.0       Original.
    2013-11-11  KJG  1.0       Added "Configurations" field at the root level.
    2013-12-13  KJG  1.0       Added "SetDebugOptions".
    2013-12-23  JSP  1.0       Added "OpenAllScenarios".
    2014-10-16  JAL  1.0       Changed ctTests to unbounded.
  -->

  <xsd:include schemaLocation="taAnalysisCommandsR1-0.xsd"/>
  <xsd:include schemaLocation="taCommonSimpleTypesR1-0.xsd"/>
  <xsd:include schemaLocation="taSimulationCommandsR1-0.xsd"/>

  <!-- The major revision needs to be a single value, i.e., minInclusive == maxInclusive -->
  <xsd:simpleType name="stTestAutomationMajorRevision">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- The minor revision ranges from 0 to the current minor revision -->
  <xsd:simpleType name="stTestAutomationMinorRevision">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name="Configurations" type="ce:ctConfigurationList"></xsd:element>
  <xsd:element name="TestList"       type="ce:ctTestList"></xsd:element>
  <xsd:element name="Test"           type="ce:ctTest"></xsd:element>

  <xsd:complexType name="ctAnalysisCommands" >
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="AssertFileExists"    type="ce:ctAssertFileExistsCmd"    minOccurs="0" />
      <xsd:element name="AssertFilesAreEqual" type="ce:ctAssertFilesAreEqualCmd" minOccurs="0" />
      <xsd:element name="RunBatchJob"         type="ce:ctRunBatchJobCmd"         minOccurs="0" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name ="ctConfigurationList">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="Configuration" type="ce:ctConfiguration"/>
    </xsd:sequence>
    <xsd:attribute name="Major" type="ce:stTestAutomationMajorRevision" use="required"/>
    <xsd:attribute name="Minor" type="ce:stTestAutomationMinorRevision" use="required"/>
    <xsd:attribute name="PerId" type="xsd:string" use="optional" default=""/>
  </xsd:complexType>

  <xsd:complexType name ="ctConfiguration">
    <xsd:all minOccurs="1">
      <xsd:element name="FolderName"  type="xsd:string"          minOccurs="1" />
      <xsd:element name="DisplayName" type="ce:stStringTestName" minOccurs="1" />
      <xsd:element name="Comment"     type="ce:stStringComment"  minOccurs="0" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name ="ctExecutionCommands" >
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="CloseEml"                type="ce:ctCloseEmlCmd"                minOccurs="0" />
      <xsd:element name="CloseSel"                type="ce:ctCloseSelCmd"                minOccurs="0" />
      <xsd:element name="CloseScenario"           type="ce:ctCloseScenarioCmd"           minOccurs="0" />
      <xsd:element name="CopyEml"                 type="ce:ctCopyEmlCmd"                 minOccurs="0" />
      <xsd:element name="CopyOrMoveEmitter"       type="ce:ctCopyOrMoveEmitterCmd"       minOccurs="0" />
      <xsd:element name="CopyOrMoveEmitterMode"   type="ce:ctCopyOrMoveEmitterModeCmd"   minOccurs="0" />
      <xsd:element name="CopyOrMovePlatform"      type="ce:ctCopyOrMovePlatformCmd"      minOccurs="0" />
      <xsd:element name="CopySel"                 type="ce:ctCopySelCmd"                 minOccurs="0" />
      <xsd:element name="CreateEml"               type="ce:ctCreateEmlCmd"               minOccurs="0" />
      <xsd:element name="CreateScenario"          type="ce:ctCreateScenarioCmd"          minOccurs="0" />
      <xsd:element name="CreateSel"               type="ce:ctCreateSelCmd"               minOccurs="0" />
      <xsd:element name="DeleteEmitter"           type="ce:ctDeleteEmitterCmd"           minOccurs="0" />
      <xsd:element name="DeleteEmitterEvent"      type="ce:ctDeleteEmitterEventCmd"      minOccurs="0" />
      <xsd:element name="DeleteEmitterMode"       type="ce:ctDeleteEmitterModeCmd"       minOccurs="0" />
      <xsd:element name="DeleteEml"               type="ce:ctDeleteEmlCmd"               minOccurs="0" />
      <xsd:element name="DeletePlatform"          type="ce:ctDeletePlatformCmd"          minOccurs="0" />
      <xsd:element name="DeleteSel"               type="ce:ctDeleteSelCmd"               minOccurs="0" />
      <xsd:element name="DisableRadiation"        type="ce:ctChangeRadiationCmd"         minOccurs="0" />
      <xsd:element name="EnableRadiation"         type="ce:ctChangeRadiationCmd"         minOccurs="0" />
      <xsd:element name="ExitSimulation"          type="ce:ctExitSimulationCmd"          minOccurs="0" />
      <xsd:element name="ExportEmitters"          type="ce:ctExportEmittersCmd"          minOccurs="0" /> 
      <xsd:element name="ExportEmitterModes"      type="ce:ctExportEmitterModesCmd"      minOccurs="0" />
      <xsd:element name="ExportEml"               type="ce:ctExportEmlCmd"               minOccurs="0" />
      <xsd:element name="ExportPlatforms"         type="ce:ctExportPlatformsCmd"         minOccurs="0" />
      <xsd:element name="ExportSel"               type="ce:ctExportSelCmd"               minOccurs="0" />
      <xsd:element name="ImportEmitters"          type="ce:ctImportEmittersCmd"          minOccurs="0" />
      <xsd:element name="ImportEmitterModes"      type="ce:ctImportEmitterModesCmd"      minOccurs="0" />
      <xsd:element name="ImportEml"               type="ce:ctImportEmlCmd"               minOccurs="0" />
      <xsd:element name="ImportPlatforms"         type="ce:ctImportPlatformsCmd"         minOccurs="0" />
      <xsd:element name="ImportSel"               type="ce:ctImportSelCmd"               minOccurs="0" />
      <xsd:element name="OpenAllScenarios"        type="ce:ctOpenAllScenariosCmd"        minOccurs="0" />
      <xsd:element name="OpenEml"                 type="ce:ctOpenEmlCmd"                 minOccurs="0" />
      <xsd:element name="OpenScenario"            type="ce:ctOpenScenarioCmd"            minOccurs="0" />
      <xsd:element name="OpenSel"                 type="ce:ctOpenSelCmd"                 minOccurs="0" />
      <xsd:element name="DeletePlatformEvent"     type="ce:ctDeletePlatformEventCmd"     minOccurs="0" />
      <xsd:element name="PrintSel"                type="ce:ctPrintSelCmd"                minOccurs="0" />
      <xsd:element name="PrintEml"                type="ce:ctPrintEmlCmd"                minOccurs="0" />
      <xsd:element name="ProcessingDelay"         type="ce:ctProcessingDelayCmd"         minOccurs="0" />
      <xsd:element name="SetDebugOptions"         type="ce:ctSetDebugOptionsCmd"         minOccurs="0" />
      <xsd:element name="SetSimulationClockSpeed" type="ce:ctSetSimulationClockSpeedCmd" minOccurs="0" />
      <xsd:element name="SetSimulationTime"       type="ce:ctSetSimulationTimeCmd"       minOccurs="0" />
      <xsd:element name="SetSimPreferences"       type="ce:ctSetSimPreferencesCmd"       minOccurs="0" />
      <xsd:element name="SignInDatabase"          type="ce:ctSignInDbCmd"                minOccurs="0" />
      <xsd:element name="StartPulseCollection"    type="ce:ctStartPulseCollectionCmd"    minOccurs="0" />
      <xsd:element name="StartSimClock"           type="ce:ctClockControlCmd"            minOccurs="0" />
      <xsd:element name="StopPulseCollection"     type="ce:ctStopPulseCollectionCmd"     minOccurs="0" />
      <xsd:element name="StopSimClock"            type="ce:ctClockControlCmd"            minOccurs="0" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="ctRequirement">
    <xsd:all minOccurs="1">
      <xsd:element name="Source" type="ce:stStringRequirementSource" minOccurs="0"/>
      <xsd:element name="Id"     type="ce:stStringRequirementId"     minOccurs="0"/>
      <xsd:element name="Text"   type="ce:stStringRequirementText"   minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="ctRequirementList">
    <xsd:sequence minOccurs="0" maxOccurs="128">
      <xsd:element name="Requirement" type="ce:ctRequirement"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctTest">
    <xsd:all minOccurs="1">
      <xsd:element name="Header"            type="ce:ctTestHeader"        minOccurs="1" />
      <xsd:element name="ExecutionCommands" type="ce:ctExecutionCommands" minOccurs="0" />
      <xsd:element name="AnalysisCommands"  type="ce:ctAnalysisCommands"  minOccurs="0" />
    </xsd:all>
    <xsd:attribute name="Major" type="ce:stTestAutomationMajorRevision" use="required"/>
    <xsd:attribute name="Minor" type="ce:stTestAutomationMinorRevision" use="required"/>
    <xsd:attribute name="PerId" type="xsd:string" use="optional" default=""/>
  </xsd:complexType>

  <xsd:complexType name ="ctTestHeader">
    <xsd:all minOccurs="1">
      <xsd:element name="Name"         type="ce:stStringTestName"  minOccurs="0"/>
      <xsd:element name="Requirements" type="ce:ctRequirementList" minOccurs="0"/>
      <xsd:element name="Comment"      type="ce:stStringComment"   minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name ="ctTestList">
    <xsd:all minOccurs="1">
      <xsd:element name="Header" type="ce:ctTestListHeader" minOccurs="1" />
      <xsd:element name="Tests"  type="ce:ctTests"          minOccurs="1" />
    </xsd:all>
    <xsd:attribute name="Major" type="ce:stTestAutomationMajorRevision" use="required"/>
    <xsd:attribute name="Minor" type="ce:stTestAutomationMinorRevision" use="required"/>
    <xsd:attribute name="PerId" type="xsd:string" use="optional" default=""/>
  </xsd:complexType>

  <xsd:complexType name ="ctTestListHeader">
    <xsd:all minOccurs="1">
      <xsd:element name="Name"    type="ce:stStringTestName"  minOccurs="0"/>
      <xsd:element name="Comment" type="ce:stStringComment"   minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name ="ctTests">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="Test"             type="ce:ctTest"                  minOccurs="0" maxOccurs="1" />
      <xsd:element name="TestList"         type="ce:ctTestList"              minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="TestFileName"     type="ce:stStringPathAndFileName" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="TestListFileName" type="ce:stStringPathAndFileName" minOccurs="0" maxOccurs="unbounded" />
    </xsd:choice>
  </xsd:complexType>

</xsd:schema>

