data/ceesim/schema/scan/emitterDataR1-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////
     // 
     // All CEESIM file formats and templates, whether ASCII or binary, and whether
     // electronic or print, are proprietary to Northrop Grumman. Protected from
     // further disclosure by the Trade Secrets Act, 18 U.S.C. section 1905, and
     // exempt from disclosure under the Freedom of Information Act, 5 U.S.C.
     // section 552(b)(4). No license, express or implied, is granted under any
     // patents, copyrights, trade secrets, or any other intellectual property right
     // of Northrop Grumman.
     //
     /////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema 
    targetNamespace="http://www.amherst.com/CEESIM/XML"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://www.amherst.com/CEESIM/XML"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
>

  <!--
    Note:
    
    If a change to be made will cause the revision of this file to be incremented, then first
    create a copy of this file and rename with the new revision number.  Add a change comment
    to the new copy of the file only and introduce the new file into CM when the change is
    complete.
    
    Change History:
    
    Date        Who  Revision  Description
    2013-03-11  XXX  1.0       Original.
    2013-03-22  JSP  1.0       Add uniqueEmitterScriptEventNumber constraint.
    2013-04-11  JSP  1.1       Moved types specific to this file from the former commonSimpleTypes
                               file to this file.
    2013-04-19  ZEL  1.1       Add AssociatedSubmodeName and GeneratorActive.
  -->
  
  <xsd:include schemaLocation="commonTypesR1-1.xsd"/>

  <xsd:complexType name="ctEmitterData">
    <xsd:all minOccurs="1">
      <xsd:element name="EmitterHeader" type="ce:ctEmitterHeader" minOccurs="1"/>
      <xsd:element name="EmitterScript" type="ce:ctEmitterScriptEventList" minOccurs="0">
        <xsd:unique name="uniqueEmitterScriptEventNumber">
          <xsd:selector xpath="ce:EmitterScriptEvent"/>
          <xsd:field xpath="ce:EventNumber"/>
        </xsd:unique>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="PerId" type="xsd:string" use="optional" default=""/>
  </xsd:complexType>

  <xsd:complexType name="ctEmitterHeader">
    <xsd:all minOccurs="1">
      <xsd:element name="UserEmitterNumber" type="ce:stIntUserEmitterNumber" minOccurs="1"/>
      <xsd:element name="EmitterId" type="ce:stStringEmitterId" minOccurs="1"/>
      <xsd:element name="EmitterName" type="ce:stStringEmitterName" minOccurs="1"/>
      <xsd:element name="XOffset" type="ce:stDoubleXOffset" minOccurs="0"/>
      <xsd:element name="YOffset" type="ce:stDoubleYOffset" minOccurs="0"/>
      <xsd:element name="ZOffset" type="ce:stDoubleZOffset" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="ctEmitterScriptEventList">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="EmitterScriptEvent" type="ce:ctEmitterScriptEvent"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ctEmitterScriptEvent">
    <xsd:all minOccurs="1">
      <xsd:element name="EventNumber" type="ce:stIntEventNumber" minOccurs="0"/>
      <xsd:element name="EventTime" type="ce:stDoubleEventTime" minOccurs="0"/>
      <xsd:element name="EventType" type="ce:stEnumEventType" minOccurs="0"/>
      <xsd:element name="ModeName" type="ce:stStringModeNameScript" minOccurs="0"/>
      <xsd:element name="RadiationState" type="ce:stBoolRadiationState" minOccurs="0"/>
      <xsd:element name="ResyncOnModeChangeState" type="ce:stBoolResyncOnModeChangeState" minOccurs="0"/>
      <xsd:element name="ChangeTracking" type="ce:stBoolChangeTracking" minOccurs="0"/>
      <xsd:element name="DwellDuration" type="ce:stDoubleDwellDurationScript" minOccurs="0"/>
      <xsd:element name="TrackPlatformNumbers" type="ce:ctTrackPlatformNumberList" minOccurs="0"/>
      <xsd:element name="GeneratorEventDefined" type="ce:stBoolGeneratorEventDefined" minOccurs="0"/>
      
      <xsd:element name="RangeEvents" type="ce:ctRangeEventList" minOccurs="0"/>      
      <xsd:element name="GeneratorScriptEvents" type="ce:ctGeneratorScriptEventList" minOccurs="0"/>
      <xsd:element name="AssociatedSubmodeName" type="ce:stStringAssociatedSubmodeName" minOccurs="0"/>
      
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="ctTrackPlatformNumberList">
    <xsd:sequence minOccurs="0" maxOccurs="32">
      <xsd:element name="TrackPlatformNumber" type="ce:stIntTrackPlatformNumber"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctRangeEventList">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="RangeEvent" type="ce:ctRangeEvent"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctGeneratorScriptEventList">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="GeneratorScriptEvent" type="ce:ctGeneratorScriptEvent"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ctRangeEvent">
    <xsd:all minOccurs="1">
      <xsd:element name="HighRange" type="ce:stDoubleHighRange" minOccurs="0"/>
      <xsd:element name="RangeModeName" type="ce:stStringRangeModeName" minOccurs="0"/>
      <xsd:element name="RangeRadiationState" type="ce:stBoolRangeRadiationState" minOccurs="0"/>
      <xsd:element name="RangeResyncOnModeChangeState" type="ce:stBoolRangeResyncOnModeChangeState" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="ctGeneratorScriptEvent">
    <xsd:all minOccurs="1">
      <xsd:element name="GeneratorNumber" type="ce:stIntScriptGeneratorNumber" minOccurs="0"/>
      <xsd:element name="GeneratorActive" type="ce:stBoolGeneratorActive" minOccurs="0"/>
      <xsd:element name="RadiationEnable" type="ce:stBoolRadiationEnable" minOccurs="0"/>
      <xsd:element name="OverrideTrack" type="ce:stBoolOverrideTrack" minOccurs="0"/>
      <xsd:element name="TrackEvents" type="ce:ctTrackEventList" minOccurs="0"/>
      <xsd:element name="OverrideScanInterrupts" type="ce:stBoolOverrideScanInterrupts" minOccurs="0"/>
      <xsd:element name="InterruptRecords" type="ce:ctInterruptRecordList" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="ctTrackEventList">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="TrackEvent" type="ce:ctTrackEvent"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctTrackEvent">
    <xsd:all minOccurs="1">
      <xsd:element name="OverrideTrack" type="ce:stBoolOverrideTrack" minOccurs="0"/>
      <xsd:element name="NewTrackPlatform" type="ce:stIntPlatformTrackNumber" minOccurs="0"/>
      <xsd:element name="OldTrackDataValid" type="ce:stBoolOldTrackDataValid" minOccurs="0"/>
      <xsd:element name="OldTrackIsSut" type="ce:stBoolOldTrackIsSut" minOccurs="0"/>
      <xsd:element name="OldTrackPlatform" type="ce:stIntPlatformTrackNumber" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="ctInterruptRecordList">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="InterruptRecord" type="ce:ctInterruptRecord"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ctInterruptRecord">
    <xsd:all minOccurs="1">
      <xsd:element name="OverrideInterruptGenerators" type="ce:stBoolOverrideInterruptGenerators" minOccurs="0"/>
      <xsd:element name="InterruptActive" type="ce:stBoolInterruptActive" minOccurs="0"/>
      <xsd:element name="InterruptGeneratorNumber" type="ce:stIntInterruptGeneratorNumber" minOccurs="0"/>
      <xsd:element name="OverrideTrack" type="ce:stBoolOverrideTrack" minOccurs="0"/>
      <xsd:element name="TrackEvents" type="ce:ctTrackEventList" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:simpleType name="stBoolChangeTracking">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolGeneratorActive">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>true</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolGeneratorEventDefined">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolInterruptActive">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolOldTrackDataValid">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolOldTrackIsSut">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolOverrideInterruptGenerators">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolOverrideScanInterrupts">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolOverrideTrack">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolRadiationEnable">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolRadiationState">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolRangeRadiationState">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolRangeResyncOnModeChangeState">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stBoolResyncOnModeChangeState">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>false</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleDwellDurationScript">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>0.000001</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0.000001"/>
      <xsd:maxInclusive value="137438.953471"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleEventTime">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="137438.953471"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleHighRange">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0.0"/>
      <xsd:maxInclusive value="14724656.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleXOffset">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-999999.999"/>
      <xsd:maxInclusive value="999999.999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleYOffset">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-999999.999"/>
      <xsd:maxInclusive value="999999.999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleZOffset">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-999999.999"/>
      <xsd:maxInclusive value="999999.999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stEnumEventType">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>Activate</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Activate"/>
      <xsd:enumeration value="Change_Mode"/>
      <xsd:enumeration value="Deactivate"/>
      <xsd:enumeration value="Disable_Radiation"/>
      <xsd:enumeration value="Enable_Radiation"/>
      <xsd:enumeration value="Range_Base_Mode_Change"/>
      <xsd:enumeration value="Mode_Dwell"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stIntEventNumber">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>1</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="2147483647"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stIntInterruptGeneratorNumber">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>1</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="32"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stIntPlatformTrackNumber">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>1</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="32767"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stIntScriptGeneratorNumber">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>1</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="32"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stIntUserEmitterNumber">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>1</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="32767"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stStringAssociatedSubmodeName">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="22"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stStringEmitterId">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:simpleType name="stStringModeNameScript">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>Mode</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="22"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stStringRangeModeName">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="22"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
