data/ceesim/schema/validation/dependencyRootR1-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////
     // 
     // All CEESIM file formats and templates, whether ASCII or binary, and whether
     // electronic or print, are proprietary to Northrop Grumman. Protected from
     // further disclosure by the Trade Secrets Act, 18 U.S.C. section 1905, and
     // exempt from disclosure under the Freedom of Information Act, 5 U.S.C.
     // section 552(b)(4). No license, express or implied, is granted under any
     // patents, copyrights, trade secrets, or any other intellectual property right
     // of Northrop Grumman.
     //
     /////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema
    targetNamespace="http://www.amherst.com/CEESIM/XML"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://www.amherst.com/CEESIM/XML"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
>
   <!--
    Note:
    
    If a change to be made will cause the revision of this file to be incremented, then first
    create a copy of this file and rename with the new revision number.  Add a change comment
    to the new copy of the file only and introduce the new file into CM when the change is
    complete.
    
    Change History:
    
    Date        Who  Revision  Description
    2013-06-17  XXX  1.0       Original.
    2016-08-18  PAB  1.1       Added a function for checking against the current validation
                               key.
    2017-11-09  PAB  1.1       Added a function for disabling the Unifrom Polarization column.
    2018-03-26  MRF  1.1       Added 2 functions for updating total dwell in time and pulses.
  -->
  
  <!-- The major revision needs to be a single value, i.e., minInclusive == maxInclusive -->
  <xsd:simpleType name="stDependencyMajorRevision">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- The minor revision ranges from 0 to the current minor revision -->
  <xsd:simpleType name="stDependencyMinorRevision">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name="CeesimDependencyData" type="ce:ctList"/>

  <xsd:complexType name="ctList">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="Affects"              type="ce:ctRoute"/>
      <xsd:element name="RemoveEntry"          type="ce:ctFunctionEntry"/>
      <xsd:element name="EnableEntry"          type="ce:ctFunctionEntry"/>
      <xsd:element name="InitializeValueEntry" type="ce:ctFunctionEntry"/>
      <xsd:element name="ResolutionEntry"      type="ce:ctFunctionEntry"/>
      <xsd:element name="UpdateValueEntry"     type="ce:ctFunctionEntry"/>
      <xsd:element name="ValidValuesEntry"     type="ce:ctFunctionEntry"/>
    </xsd:choice>
    <xsd:attribute name="Major" type="ce:stDependencyMajorRevision" use="required"/>
    <xsd:attribute name="Minor" type="ce:stDependencyMinorRevision" use="required"/>
    <xsd:attribute name="PerId" type="xsd:string" use="optional" default=""/>
  </xsd:complexType>


<!-- /////////////////////////////////////////////////////////////////////////////////
     //
     // Complex Type Function Definitions
     //
     ///////////////////////////////////////////////////////////////////////////// -->

  <xsd:complexType name="ctFunctionEntry">
    <xsd:sequence>
      <xsd:element name="Path"                  type="ce:ctPath" minOccurs="0"/>
      <xsd:element name="Function"              type="ce:stEnumFuntionName"/>
      <xsd:element name="FunctionParameterList" type="ce:ctFunctionParameterList"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctFunctionParameterList">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="Constant"         type="ce:stStringConstantWithParameterNumber"/>
      <xsd:element name="Instance"         type="ce:ctRouteWithParameterNumber"/>
      <xsd:element name="StringList"       type="ce:ctStringListWithParameterNumber"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="ctPath">
    <xsd:sequence>
      <xsd:element name="Ancestor" type="ce:stStringElementName"  minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Target"   type="ce:stStringElementName"  minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctRoute">
    <xsd:sequence>
      <xsd:element name="StartPath"  type="ce:ctPath"/>
      <xsd:element name="TargetPath" type="ce:ctPath"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctStringList">
    <xsd:sequence>
      <xsd:element name="Entry" type="ce:stStringConstant"  minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ctStringListWithParameterNumber">
    <xsd:complexContent>
      <xsd:extension base="ce:ctStringList">
        <xsd:attribute name="ParameterNumber" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ctRouteWithParameterNumber">
    <xsd:complexContent>
      <xsd:extension base="ce:ctRoute">
        <xsd:attribute name="ParameterNumber" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="stStringConstantWithParameterNumber">
    <xsd:simpleContent>
      <xsd:extension base="ce:stStringConstant">
        <xsd:attribute name="ParameterNumber" type="xsd:int"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>


<!-- /////////////////////////////////////////////////////////////////////////////////
     //
     // Simple Type Definitions
     //
     ///////////////////////////////////////////////////////////////////////////// -->

  <xsd:simpleType name="stStringConstant">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stStringElementName">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>


 <!-- /////////////////////////////////////////////////////////////////////////////////
      //
      // ENUM Definitions
      //
      ///////////////////////////////////////////////////////////////////////////// -->

  <xsd:simpleType name="stEnumFuntionName">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EdhsFunctionCompare1Value"/>
      <xsd:enumeration value="EdhsFunctionCompare2Values"/>
      <xsd:enumeration value="EdhsFunctionCompare1ValueAndDisable"/>
      <xsd:enumeration value="EdhsFunctionCompare1ValueToValidationFileAndHide"/>
      <xsd:enumeration value="EdhsFunctionCompare2ValuesAndDisable"/>
      <xsd:enumeration value="EdhsFunctionCompare2ValuesAndHideIfDifferent"/>
      <xsd:enumeration value="EdhsFunctionCheckFor1ValueAndDisable"/>
      <xsd:enumeration value="EdhsFunctionPulseWidthDisable"/>
      <xsd:enumeration value="EdhsFunctionUniformPolarizationDisable"/>
      <xsd:enumeration value="EdhsFunctionDisplayScanDwell"/>
      <xsd:enumeration value="EdhsFunctionDisplayTotalDwell"/>
      <xsd:enumeration value="EdhsFunctionEnableTrackOffset"/>
      <xsd:enumeration value="EdhsFunctionAzElScanPeriodDerived"/>
      <xsd:enumeration value="InitFunctionInitializeAzElTransmitPattern"/>
      <xsd:enumeration value="InitFunctionInitializeChannelCode"/>
      <xsd:enumeration value="InitFunctionInitializeFromInstance"/>
      <xsd:enumeration value="InitFunctionInitializeGeneratorTrigger"/>
      <xsd:enumeration value="InitFunctionInitializeLinkDisplay"/>
      <xsd:enumeration value="InitFunctionInitializeModulationType"/>
      <xsd:enumeration value="InitFunctionInitializeScanDwell"/>
      <xsd:enumeration value="InitFunctionInitializeScanReference"/>
      <xsd:enumeration value="InitFunctionInitializeTotalDwellDuration"/>
      <xsd:enumeration value="InitFunctionInitializeTrackOffset"/>
      <xsd:enumeration value="InitFunctionInitializeUniformPolarization"/>
      <xsd:enumeration value="RemFunctionCompareAndRemoveElementsNotContainedInList"/>
      <xsd:enumeration value="ResFunctionResolveFrequency"/>
      <xsd:enumeration value="ResFunctionResolveFromField"/>
      <xsd:enumeration value="ResFunctionResolveFromVal"/>
      <xsd:enumeration value="VvFunctionAzElTransmitPattern"/>
      <xsd:enumeration value="VvFunctionChannelCode"/>
      <xsd:enumeration value="VvFunctionChannelPoolChanged"/>
      <xsd:enumeration value="VvFunctionDwellVariation"/>
      <xsd:enumeration value="VvFunctionFindMinMax"/>
      <xsd:enumeration value="VvFunctionGeneratorTrigger"/>
      <xsd:enumeration value="VvFunctionLinks"/>
      <xsd:enumeration value="VvFunctionUniformPolarization"/>
      <xsd:enumeration value="UvFunctionCompare1Value"/>
      <xsd:enumeration value="UvFunctionUpdateGenTriggerDisplay"/>
      <xsd:enumeration value="UvFunctionUpdateLinkDisplay"/>
      <xsd:enumeration value="UvFunctionUpdateParameterInstance"/>
      <xsd:enumeration value="UvFunctionUpdatePriJitter"/>
      <xsd:enumeration value="UvFunctionUpdateScanDwell"/>
      <xsd:enumeration value="UvFunctionUpdateScanReference"/>
      <xsd:enumeration value="UvFunctionUpdateScanPeriodDerived"/>
      <xsd:enumeration value="UvFunctionUpdateSegmentName"/>
      <xsd:enumeration value="UvFunctionUpdateTotalDwellDuration"/>
      <xsd:enumeration value="UvFunctionUpdateTrackOffset"/>
      <xsd:enumeration value="UvFunctionUpdateValuesFromAzElTransmitPattern"/>
      <xsd:enumeration value="UvFunctionUpdateValuesFromChannelCode"/>     
      <xsd:enumeration value="UvFunctionUpdateValuesFromDwellKind"/>    
      <xsd:enumeration value="UvFunctionUpdateValuesFromTriggers"/>
      <xsd:enumeration value="UvFunctionUpdateValuesFromUniformPolarization"/>
      <xsd:enumeration value="UvFunctionUpdateTotalDwellSec"/>
      <xsd:enumeration value="UvFunctionUpdateTotalDwellPulse"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
