data/ceesim/schema/validation/tableRootR1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////
     // 
     // All CEESIM file formats and templates, whether ASCII or binary, and whether
     // electronic or print, are proprietary to Northrop Grumman. Protected from
     // further disclosure by the Trade Secrets Act, 18 U.S.C. section 1905, and
     // exempt from disclosure under the Freedom of Information Act, 5 U.S.C.
     // section 552(b)(4). No license, express or implied, is granted under any
     // patents, copyrights, trade secrets, or any other intellectual property right
     // of Northrop Grumman.
     //
     /////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema
    targetNamespace="http://www.amherst.com/CEESIM/XML"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://www.amherst.com/CEESIM/XML"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
>
  <!--
    Note:
    
    If a change to be made will cause the revision of this file to be incremented, then first
    create a copy of this file and rename with the new revision number.  Add a change comment
    to the new copy of the file only and introduce the new file into CM when the change is
    complete.
    
    Change History:
    
    Date        Who  Revision  Description
    2013-06-17  XXX  1.0       Original.
  -->
  
  <!-- The major revision needs to be a single value, i.e., minInclusive == maxInclusive -->
  <xsd:simpleType name="stTableMajorRevision">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- The minor revision ranges from 0 to the current minor revision -->
  <xsd:simpleType name="stTableMinorRevision">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name ="Table" type="ce:ctTableSection"/>

  <xsd:complexType name ="ctTableSection">
    <xsd:sequence>
      <xsd:element name ="ColumnList"        type="ce:ctColumnList"        minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="TableData"         type="ce:ctTableData"         minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="ValueKindManager"  type="ce:ctValueKindManager"  minOccurs="1" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="Major" type="ce:stTableMajorRevision" use="required"/>
    <xsd:attribute name="Minor" type="ce:stTableMinorRevision" use="required"/>
    <xsd:attribute name="PerId" type="xsd:string" use="optional" default=""/>
  </xsd:complexType>

<!-- /////////////////////////////////////////////////////////////////////////////////
     //
     // Cell Value Definitions
     //
     ///////////////////////////////////////////////////////////////////////////// -->

  <xsd:complexType name ="ctCellValue">
    <xsd:sequence>
      <xsd:element name ="Value"                 type="xsd:string"              minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="ValueType"             type="ce:stEnumValueType"      minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="UnitType"              type="ce:stEnumUnitType"       minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="ValueKindId"           type="xsd:string"              minOccurs="0" maxOccurs="1"></xsd:element>
      <xsd:element name ="HasError"              type="xsd:boolean"             minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="AdditionalErrorString" type="xsd:string"              minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="FullErrorMsg"          type="xsd:string"              minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="HasDataBeenEntered"    type="xsd:boolean"             minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="IsEditable"            type="xsd:boolean"             minOccurs="1" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctCellValueList">
    <xsd:sequence>
      <xsd:element name ="CellValue" type="ce:ctCellValue" minOccurs="1" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>


<!-- /////////////////////////////////////////////////////////////////////////////////
     //
     // Column Definitions
     //
     ///////////////////////////////////////////////////////////////////////////// -->

  <xsd:complexType name ="ctColumnList">
    <xsd:sequence>
      <xsd:element name ="Column" type="ce:ctColumn" minOccurs="1" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctColumn">
    <xsd:sequence>
      <xsd:element name ="Id"           type="xsd:string"     minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="DisplayName"  type="xsd:string"     minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="Group"        type="xsd:string"     minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="ValueKindId"  type="xsd:string"     minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="Position"     type="xsd:int"        minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="Units"        type="ce:stEnumUnits" minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="IsDisplayed"  type="xsd:boolean"    minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="IsEditable"   type="xsd:boolean"    minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="DefaultValue" type="ce:ctCellValue" minOccurs="1" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

<!-- /////////////////////////////////////////////////////////////////////////////////
     //
     // Table Data Definitions
     //
     ///////////////////////////////////////////////////////////////////////////// -->

  <xsd:complexType name ="ctChildIndexList">
    <xsd:sequence>
      <xsd:element name ="ChildIndex" type="xsd:int" minOccurs="1" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctParentIndexList">
    <xsd:sequence>
      <xsd:element name ="ParentIndex" type="xsd:int" minOccurs="1" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctTableColumnCellValuesList">
    <xsd:sequence>
      <xsd:element name ="TableColumnCellValues" type="ce:ctTableColumnCellValues" minOccurs="1" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctTableColumnCellValues">
    <xsd:sequence>
      <xsd:element name ="ColumnName"    type="xsd:string"         minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="CellValueList" type="ce:ctCellValueList" minOccurs="1" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name ="ctTableData">
    <xsd:sequence>
      <xsd:element name ="ParentIndexList"           type="ce:ctParentIndexList"           minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="ChildIndexList"            type="ce:ctChildIndexList"            minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="TableColumnCellValuesList" type="ce:ctTableColumnCellValuesList" minOccurs="1" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

<!-- /////////////////////////////////////////////////////////////////////////////////
     //
     // Value Kind Definitions
     //
     ///////////////////////////////////////////////////////////////////////////// -->
 
  <xsd:complexType name ="ctValueKindManager">
    <xsd:sequence>
      <xsd:element name ="Entry"  type="ce:ctValueKindManagerEntry" minOccurs="1" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctValueKindManagerEntry">
    <xsd:sequence>
      <xsd:element name ="ColumnId"       type="xsd:string"             minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="ValueKindList"  type="ce:ctValueKindList"     minOccurs="1" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctValueKindList">
    <xsd:sequence>
      <xsd:element name ="ValueKind"  type="ce:ctValueKind"     minOccurs="1" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctValueKind">
    <xsd:sequence>
      <xsd:element name ="Id"                     type="xsd:string"             minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="ValueType"              type="ce:stEnumValueType"     minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="UnitType"               type="ce:stEnumUnitType"      minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="DisplayUnits"           type="ce:stEnumUnits"         minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="NumberOfDecimalDigits"  type="xsd:int"                minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="MinimumNumberOfChars"   type="xsd:int"                minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="MaximumNumberOfChars"   type="xsd:int"                minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="MinimumValue"           type="ce:ctCellValue"         minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="MaximumValue"           type="ce:ctCellValue"         minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="Enum"                   type="ce:ctEnum"              minOccurs="1" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctEnum">
    <xsd:sequence>
      <xsd:element name ="Entry"  type="ce:ctEnumEntry"     minOccurs="0" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="ctEnumEntry">
    <xsd:sequence>
      <xsd:element name ="Id"                     type="xsd:string"     minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="DisplayName"            type="xsd:string"     minOccurs="1" maxOccurs="1"></xsd:element>
      <xsd:element name ="EditorDisplayName"      type="xsd:string"     minOccurs="1" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

<!-- /////////////////////////////////////////////////////////////////////////////////
     //
     // ENUM Definitions
     //
     ///////////////////////////////////////////////////////////////////////////// -->
  
  <xsd:simpleType name="stEnumUnits">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Kilometers" />
      <xsd:enumeration value="DeciMeters" />
      <xsd:enumeration value="Meters" />
      <xsd:enumeration value="CentiMeters" />
      <xsd:enumeration value="MilliMeters" />
      <xsd:enumeration value="NauticalMiles" />
      <xsd:enumeration value="Yards" />
      <xsd:enumeration value="Feet" />
      <xsd:enumeration value="Inches" />
      <xsd:enumeration value="Gigahertz" />
      <xsd:enumeration value="Megahertz" />
      <xsd:enumeration value="Kilohertz" />
      <xsd:enumeration value="Hertz" />
      <xsd:enumeration value="Seconds" />
      <xsd:enumeration value="Milliseconds" />
      <xsd:enumeration value="Microseconds" />
      <xsd:enumeration value="Nanoseconds" />
      <xsd:enumeration value="Decibles" />
      <xsd:enumeration value="PowerRatio" />
      <xsd:enumeration value="Degrees" />
      <xsd:enumeration value="Radians" />
      <xsd:enumeration value="Degrees per second" />
      <xsd:enumeration value="Radians per second" />
      <xsd:enumeration value="Percent" />
      <xsd:enumeration value="Pulses" />
      <xsd:enumeration value="None" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stEnumUnitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Distance" />
      <xsd:enumeration value="Frequency" />
      <xsd:enumeration value="TimeDuration" />
      <xsd:enumeration value="Power" />
      <xsd:enumeration value="PowerRatio" />
      <xsd:enumeration value="Angle" />
      <xsd:enumeration value="AngularVelocity" />
      <xsd:enumeration value="Percentage" />
      <xsd:enumeration value="Pulse" />
      <xsd:enumeration value="None" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stEnumValueType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Integer64Type" />
      <xsd:enumeration value="Real64Type" />
      <xsd:enumeration value="StringType" />
      <xsd:enumeration value="BooleanType" />
      <xsd:enumeration value="StringListType" />
      <xsd:enumeration value="NullType" />
      <xsd:enumeration value="Unknown" />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
