data/ceesim/schema/support/channelStatusDataR1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////
     // 
     // All CEESIM file formats and templates, whether ASCII or binary, and whether
     // electronic or print, are proprietary to Northrop Grumman. Protected from
     // further disclosure by the Trade Secrets Act, 18 U.S.C. section 1905, and
     // exempt from disclosure under the Freedom of Information Act, 5 U.S.C.
     // section 552(b)(4). No license, express or implied, is granted under any
     // patents, copyrights, trade secrets, or any other intellectual property right
     // of Northrop Grumman.
     //
     /////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema
    targetNamespace="http://www.amherst.com/CEESIM/XML"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://www.amherst.com/CEESIM/XML"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified" >
  <!--

    Note:
   
    If a change to be made will cause the revision of this file to be incremented, then first
    create a copy of this file and rename with the new revision number.  Add a change comment
    to the new copy of the file only and introduce the new file into CM when the change is
    complete.

    Change History:

    Date        Who  Revision  Description
    2014-12-01  JSP  1.0       Original.

  -->  

  <xsd:complexType name="ctChannelStatus">
    <xsd:all minOccurs="1">
      <xsd:element name="ChannelNumber"               type="ce:stIntChannelNumber"                  minOccurs="0" />
      <xsd:element name="ChannelDescription"          type="ce:stStringChannelDescription"          minOccurs="0" />
      <xsd:element name="MinimumFrequency"            type="ce:stDoubleMinimumFrequency"            minOccurs="0" />
      <xsd:element name="MaximumFrequency"            type="ce:stDoubleMaximumFrequency"            minOccurs="0" />

      <!-- Calibrations -->

      <xsd:element name="FrequencyCalibrationStatus"  type="ce:stStringFrequencyCalibrationStatus"  minOccurs="0" />
      <xsd:element name="FrequencyCalibrationDate"    type="ce:stDateTimeFrequencyCalibrationDate"  minOccurs="0" />
      <xsd:element name="HfimDcOffsetStatus"          type="ce:stStringHfimDcOffsetStatus"          minOccurs="0" />
      <xsd:element name="HfimDcOffsetDate"            type="ce:stDateTimeHfimDcOffsetDate"          minOccurs="0" />
      <xsd:element name="HfimLinearizationStatus"     type="ce:stStringHfimLinearizationStatus"     minOccurs="0" />
      <xsd:element name="HfimLinearizationDate"       type="ce:stDateTimeHfimLinearizationDate"     minOccurs="0" />
      <xsd:element name="HsAmopStatus"                type="ce:stStringHsAmopStatus"                minOccurs="0" />
      <xsd:element name="HsAmopDate"                  type="ce:stDateTimeHsAmopDate"                minOccurs="0" />
      <xsd:element name="TransmitAlignmentStatus"     type="ce:stStringTransmitAlignmentStatus"     minOccurs="0" />
      <xsd:element name="TransmitAlignmentDate"       type="ce:stDateTimeTransmitAlignmentDate"     minOccurs="0" />
      <xsd:element name="TransmitLinearizationStatus" type="ce:stStringTransmitLinearizationStatus" minOccurs="0" />
      <xsd:element name="TransmitLinearizationDate"   type="ce:stDateTimeTransmitLinearizationDate" minOccurs="0" />

      <!-- Fault Tests -->

      <xsd:element name="FrequencyAccuracyStatus"     type="ce:stStringFrequencyAccuracyStatus"     minOccurs="0" />
      <xsd:element name="FrequencyAccuracyDate"       type="ce:stDateTimeFrequencyAccuracyDate"     minOccurs="0" />
      <xsd:element name="HsAmopAccuracyStatus"        type="ce:stStringHsAmopAccuracyStatus"        minOccurs="0" />
      <xsd:element name="HsAmopAccuracyDate"          type="ce:stDateTimeHsAmopAccuracyDate"        minOccurs="0" />
      <xsd:element name="SuppressionAccuracyStatus"   type="ce:stStringSuppressionAccuracyStatus"   minOccurs="0" />
      <xsd:element name="SuppressionAccuracyDate"     type="ce:stDateTimeSuppressionAccuracyDate"   minOccurs="0" />
      <xsd:element name="TransmitAccuracyStatus"      type="ce:stStringTransmitAccuracyStatus"      minOccurs="0" />
      <xsd:element name="TransmitAccuracyDate"        type="ce:stDateTimeTransmitAccuracyDate"      minOccurs="0" />

    </xsd:all>
    <xsd:attribute name="PerId" type="xsd:string" use="optional" default=""/>
  </xsd:complexType>

  <xsd:simpleType name="stDateTimeFrequencyAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeFrequencyCalibrationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeHfimDcOffsetDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeHfimLinearizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeHsAmopAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeHsAmopDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeSuppressionAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeTransmitAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeTransmitAlignmentDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeTransmitLinearizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleMaximumFrequency">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="65535000000" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleMinimumFrequency">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="65535000000" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stIntChannelNumber">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>1</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="100000"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stStringChannelDescription">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringFrequencyAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringFrequencyCalibrationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringHfimDcOffsetStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringHfimLinearizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringHsAmopAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringHsAmopStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringSuppressionAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringTransmitAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringTransmitAlignmentStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringTransmitLinearizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

</xsd:schema>  
