data/ceesim/schema/support/channelStatusDisplayTypesR1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////
     // 
     // All CEESIM file formats and templates, whether ASCII or binary, and whether
     // electronic or print, are proprietary to Northrop Grumman. Protected from
     // further disclosure by the Trade Secrets Act, 18 U.S.C. section 1905, and
     // exempt from disclosure under the Freedom of Information Act, 5 U.S.C.
     // section 552(b)(4). No license, express or implied, is granted under any
     // patents, copyrights, trade secrets, or any other intellectual property right
     // of Northrop Grumman.
     //
     /////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema 
    targetNamespace="http://www.amherst.com/CEESIM/XML"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://www.amherst.com/CEESIM/XML"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
>

  <!--
    Note:
    
    If a change to be made will cause the revision of this file to be incremented, then first
    create a copy of this file and rename with the new revision number.  Add a change comment
    to the new copy of the file only and introduce the new file into CM when the change is
    complete.
    
    Change History:
    
    Date        Who  Revision  Description
    2014-12-01  JSP  1.0       Original.

  -->
  
  <xsd:include schemaLocation="channelStatusDataR1-0.xsd"/>

 <!-- ///////////////////////////////////////////////////////////////////////////////////////////////
      //
      // Display fields
      //
      /////////////////////////////////////////////////////////////////////////////////////////////// -->

  <xsd:simpleType name="dtDateTimeFrequencyAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="FrequencyAccuracyDate">
            <Column>18</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>Frequency&#xA;Accuracy&#xA;Date</DisplayName>
            <Group>FaultTestDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Frequency Accuracy Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeFrequencyAccuracyDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeFrequencyCalibrationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="FrequencyCalibrationDate">
            <Column>6</Column>
            <Width>105</Width>
            <Editable>false</Editable>
            <DisplayName>Frequency&#xA;Calibration&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Frequency Calibration Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeFrequencyCalibrationDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeHfimDcOffsetDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="HfimDcOffsetDate">
            <Column>12</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>HFIM DC&#xA;Offset&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest HFIM DC Offset Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeHfimDcOffsetDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeHfimLinearizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="HfimLinearizationDate">
            <Column>14</Column>
            <Width>120</Width>
            <Editable>false</Editable>
            <DisplayName>HFIM&#xA;Linearization&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest HFIM Linearization Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeHfimLinearizationDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeHsAmopAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="HsAmopAccuracyDate">
            <Column>24</Column>
            <Width>135</Width>
            <Editable>false</Editable>
            <DisplayName>High-Speed AMOP&#xA;Accuracy&#xA;Date</DisplayName>
            <Group>FaultTestDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest High Speed AMOP Accuracy Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeHsAmopAccuracyDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeHsAmopDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="HsAmopDate">
            <Column>16</Column>
            <Width>135</Width>
            <Editable>false</Editable>
            <DisplayName>High-Speed AMOP&#xA;Calibration&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest High Speed AMOP Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeHsAmopDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeSuppressionAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="SuppressionAccuracyDate">
            <Column>22</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>Suppression&#xA;Accuracy&#xA;Date</DisplayName>
            <Group>FaultTestDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Suppression Accuracy Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeSuppressionAccuracyDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeTransmitAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="TransmitAccuracyDate">
            <Column>20</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>Transmit&#xA;Accuracy&#xA;Date</DisplayName>
            <Group>FaultTestDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Transmit Accuracy Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeTransmitAccuracyDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeTransmitAlignmentDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="TransmitAlignmentDate">
            <Column>10</Column>
            <Width>103</Width>
            <Editable>false</Editable>
            <DisplayName>Transmit&#xA;Alignment&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Transmit Alignment Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeTransmitAlignmentDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeTransmitLinearizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="TransmitLinearizationDate">
            <Column>8</Column>
            <Width>120</Width>
            <Editable>false</Editable>
            <DisplayName>Transmit&#xA;Linearization&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Transmit Linearization Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeTransmitLinearizationDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDoubleMaximumFrequency">
    <xsd:annotation>
      <xsd:appinfo>
        <DisplayUnit>Megahertz</DisplayUnit>
        <DisplayDigits>0</DisplayDigits>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="MaximumFrequency">
            <Column>4</Column>
            <Width>95</Width>
            <Editable>false</Editable>
            <DisplayName>Frequency&#xA;Max</DisplayName>
            <Group>ChannelPortStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Channel Maximum Frequency</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDoubleMaximumFrequency">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDoubleMinimumFrequency">
    <xsd:annotation>
      <xsd:appinfo>
        <DisplayUnit>Megahertz</DisplayUnit>
        <DisplayDigits>0</DisplayDigits>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="MinimumFrequency">
            <Column>3</Column>
            <Width>95</Width>
            <Editable>false</Editable>
            <DisplayName>Frequency&#xA;Min</DisplayName>
            <Group>ChannelPortStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Channel Minimum Frequency</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDoubleMinimumFrequency">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtIntChannelNumber">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="ChannelNumber">
            <Column>1</Column>
            <Width>90</Width>
            <Editable>false</Editable>
            <DisplayName>Channel</DisplayName>
            <Group>ChannelPortStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Channel Number</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stIntChannelNumber">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringChannelDescription">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="ChannelDescription">
            <Column>2</Column>
            <Width>110</Width>
            <Editable>false</Editable>
            <DisplayName>Description</DisplayName>
            <Group>ChannelPortStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Channel Description</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringChannelDescription">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringFrequencyAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="FrequencyAccuracyStatus">
            <Column>17</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>Frequency&#xA;Accuracy&#xA;Status</DisplayName>
            <Group>FaultTestStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Frequency Accuracy Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringFrequencyAccuracyStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringFrequencyCalibrationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="FrequencyCalibrationStatus">
            <Column>5</Column>
            <Width>105</Width>
            <Editable>false</Editable>
            <DisplayName>Frequency&#xA;Calibration&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Frequency Calibration Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringFrequencyCalibrationStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringHfimDcOffsetStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="HfimDcOffsetStatus">
            <Column>11</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>HFIM DC&#xA;Offset&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>HFIM DC Offset Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringHfimDcOffsetStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringHfimLinearizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="HfimLinearizationStatus">
            <Column>13</Column>
            <Width>120</Width>
            <Editable>false</Editable>
            <DisplayName>HFIM&#xA;Linearization&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>HFIM Linearization Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringHfimLinearizationStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringHsAmopAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="HsAmopAccuracyStatus">
            <Column>23</Column>
            <Width>135</Width>
            <Editable>false</Editable>
            <DisplayName>High-Speed AMOP&#xA;Accuracy&#xA;Status</DisplayName>
            <Group>FaultTestStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>High-Speed AMOP Accuracy Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringHsAmopAccuracyStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringHsAmopStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="HsAmopStatus">
            <Column>15</Column>
            <Width>135</Width>
            <Editable>false</Editable>
            <DisplayName>High-Speed AMOP&#xA;Calibration&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>High-Speed AMOP Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringHsAmopStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringSuppressionAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="SuppressionAccuracyStatus">
            <Column>21</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>Suppression&#xA;Accuracy&#xA;Status</DisplayName>
            <Group>FaultTestStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Suppression Accuracy Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringSuppressionAccuracyStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringTransmitAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="TransmitAccuracyStatus">
            <Column>19</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>Transmit&#xA;Accuracy&#xA;Status</DisplayName>
            <Group>FaultTestStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Transmit Accuracy Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringTransmitAccuracyStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringTransmitAlignmentStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="TransmitAlignmentStatus">
            <Column>9</Column>
            <Width>103</Width>
            <Editable>false</Editable>
            <DisplayName>Transmit&#xA;Alignment&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Transmit Alignment Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringTransmitAlignmentStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringTransmitLinearizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelStatus" EntryName="TransmitLinearizationStatus">
            <Column>7</Column>
            <Width>120</Width>
            <Editable>false</Editable>
            <DisplayName>Transmit&#xA;Linearization&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Transmit Linearization Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringTransmitLinearizationStatus">
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
