data/ceesim/schema/support/channelPortStatusDataR1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////
     // 
     // All CEESIM file formats and templates, whether ASCII or binary, and whether
     // electronic or print, are proprietary to Northrop Grumman. Protected from
     // further disclosure by the Trade Secrets Act, 18 U.S.C. section 1905, and
     // exempt from disclosure under the Freedom of Information Act, 5 U.S.C.
     // section 552(b)(4). No license, express or implied, is granted under any
     // patents, copyrights, trade secrets, or any other intellectual property right
     // of Northrop Grumman.
     //
     /////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema
    targetNamespace="http://www.amherst.com/CEESIM/XML"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://www.amherst.com/CEESIM/XML"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified" >
  <!--

    Note:
   
    If a change to be made will cause the revision of this file to be incremented, then first
    create a copy of this file and rename with the new revision number.  Add a change comment
    to the new copy of the file only and introduce the new file into CM when the change is
    complete.

    Change History:

    Date        Who  Revision  Description
    2014-12-01  JSP  1.0       Original.

  -->  

  <xsd:complexType name="ctChannelPortStatus">
    <xsd:all minOccurs="1">
      <xsd:element name="ChannelNumber"                        type="ce:stIntChannelNumber"                           minOccurs="0" />
      <xsd:element name="ChannelDescription"                   type="ce:stStringChannelDescription"                   minOccurs="0" />
      <xsd:element name="Rfcu"                                 type="ce:stStringRfcu"                                 minOccurs="0" />
      <xsd:element name="Port"                                 type="ce:stStringPort"                                 minOccurs="0" />
      <xsd:element name="MinimumFrequency"                     type="ce:stDoubleMinimumFrequency"                     minOccurs="0" />
      <xsd:element name="MaximumFrequency"                     type="ce:stDoubleMaximumFrequency"                     minOccurs="0" />

      <!-- Calibrations -->

      <xsd:element name="AmplitudeShiftCharacterizationStatus" type="ce:stStringAmplitudeShiftCharacterizationStatus" minOccurs="0" />
      <xsd:element name="AmplitudeShiftCharacterizationDate"   type="ce:stDateTimeAmplitudeShiftCharacterizationDate" minOccurs="0" />
      <xsd:element name="PhaseAlignmentStatus"                 type="ce:stStringPhaseAlignmentStatus"                 minOccurs="0" />
      <xsd:element name="PhaseAlignmentDate"                   type="ce:stDateTimePhaseAlignmentDate"                 minOccurs="0" />
      <xsd:element name="PhaseLinearizationStatus"             type="ce:stStringPhaseLinearizationStatus"             minOccurs="0" />
      <xsd:element name="PhaseLinearizationDate"               type="ce:stDateTimePhaseLinearizationDate"             minOccurs="0" />
      <xsd:element name="PhaseShiftCharacterizationStatus"     type="ce:stStringPhaseShiftCharacterizationStatus"     minOccurs="0" />
      <xsd:element name="PhaseShiftCharacterizationDate"       type="ce:stDateTimePhaseShiftCharacterizationDate"     minOccurs="0" />
      <xsd:element name="ReceiveAlignmentStatus"               type="ce:stStringReceiveAlignmentStatus"               minOccurs="0" />
      <xsd:element name="ReceiveAlignmentDate"                 type="ce:stDateTimeReceiveAlignmentDate"               minOccurs="0" />
      <xsd:element name="ReceiveLinearizationStatus"           type="ce:stStringReceiveLinearizationStatus"           minOccurs="0" />
      <xsd:element name="ReceiveLinearizationDate"             type="ce:stDateTimeReceiveLinearizationDate"           minOccurs="0" />
      <xsd:element name="TdoaAlignmentStatus"                  type="ce:stStringTdoaAlignmentStatus"                  minOccurs="0" />
      <xsd:element name="TdoaAlignmentDate"                    type="ce:stDateTimeTdoaAlignmentDate"                  minOccurs="0" />
      <xsd:element name="TdoaLinearizationStatus"              type="ce:stStringTdoaLinearizationStatus"              minOccurs="0" />
      <xsd:element name="TdoaLinearizationDate"                type="ce:stDateTimeTdoaLinearizationDate"              minOccurs="0" />

      <!-- Fault Tests -->

      <xsd:element name="PhaseAccuracyStatus"                  type="ce:stStringPhaseAccuracyStatus"                  minOccurs="0" />
      <xsd:element name="PhaseAccuracyDate"                    type="ce:stDateTimePhaseAccuracyDate"                  minOccurs="0" />
      <xsd:element name="ReceiveAccuracyStatus"                type="ce:stStringReceiveAccuracyStatus"                minOccurs="0" />
      <xsd:element name="ReceiveAccuracyDate"                  type="ce:stDateTimeReceiveAccuracyDate"                minOccurs="0" />
      <xsd:element name="TdoaAccuracyStatus"                   type="ce:stStringTdoaAccuracyStatus"                   minOccurs="0" />
      <xsd:element name="TdoaAccuracyDate"                     type="ce:stDateTimeTdoaAccuracyDate"                   minOccurs="0" />

    </xsd:all>
    <xsd:attribute name="PerId" type="xsd:string" use="optional" default=""/>
  </xsd:complexType>

  <xsd:simpleType name="stDateTimeAmplitudeShiftCharacterizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimePhaseAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimePhaseAlignmentDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimePhaseLinearizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimePhaseShiftCharacterizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeReceiveAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeReceiveAlignmentDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeReceiveLinearizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeTdoaAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeTdoaAlignmentDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDateTimeTdoaLinearizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleMaximumFrequency">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="65535000000" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stDoubleMinimumFrequency">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>0</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="65535000000" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stIntChannelNumber">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue>1</DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="100000"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stStringAmplitudeShiftCharacterizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringChannelDescription">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringPhaseAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringPhaseAlignmentStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringPhaseLinearizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringPhaseShiftCharacterizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringPort">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringReceiveAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringReceiveAlignmentStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringReceiveLinearizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringRfcu">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringTdoaAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringTdoaAlignmentStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="stStringTdoaLinearizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <DefaultValue></DefaultValue>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

</xsd:schema>  
