data/ceesim/schema/support/channelPortStatusDisplayTypesR1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////
     // 
     // All CEESIM file formats and templates, whether ASCII or binary, and whether
     // electronic or print, are proprietary to Northrop Grumman. Protected from
     // further disclosure by the Trade Secrets Act, 18 U.S.C. section 1905, and
     // exempt from disclosure under the Freedom of Information Act, 5 U.S.C.
     // section 552(b)(4). No license, express or implied, is granted under any
     // patents, copyrights, trade secrets, or any other intellectual property right
     // of Northrop Grumman.
     //
     /////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema 
    targetNamespace="http://www.amherst.com/CEESIM/XML"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ce="http://www.amherst.com/CEESIM/XML"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
>

  <!--
    Note:
    
    If a change to be made will cause the revision of this file to be incremented, then first
    create a copy of this file and rename with the new revision number.  Add a change comment
    to the new copy of the file only and introduce the new file into CM when the change is
    complete.
    
    Change History:
    
    Date        Who  Revision  Description
    2014-12-01  JSP  1.0       Original.

  -->
  
  <xsd:include schemaLocation="channelSummaryDataR1-0.xsd"/>

 <!-- ///////////////////////////////////////////////////////////////////////////////////////////////
      //
      // Display fields
      //
      /////////////////////////////////////////////////////////////////////////////////////////////// -->

  <xsd:simpleType name="dtDateTimeAmplitudeShiftCharacterizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="AmplitudeShiftCharacterizationDate">
            <Column>10</Column>
            <Width>143</Width>
            <Editable>false</Editable>
            <DisplayName>Amplitude Shift&#xA;Characterization&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Amplitude Shift Characterization Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeAmplitudeShiftCharacterizationDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimePhaseAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="PhaseAccuracyDate">
            <Column>24</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>Phase&#xA;Accuracy&#xA;Date</DisplayName>
            <Group>FaultTestDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Phase Accuracy Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimePhaseAccuracyDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimePhaseAlignmentDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="PhaseAlignmentDate">
            <Column>14</Column>
            <Width>103</Width>
            <Editable>false</Editable>
            <DisplayName>Phase&#xA;Alignment&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Phase Alignment Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimePhaseAlignmentDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimePhaseLinearizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="PhaseLinearizationDate">
            <Column>12</Column>
            <Width>120</Width>
            <Editable>false</Editable>
            <DisplayName>Phase&#xA;Linearization&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Phase Linearization Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimePhaseLinearizationDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimePhaseShiftCharacterizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="PhaseShiftCharacterizationDate">
            <Column>8</Column>
            <Width>143</Width>
            <Editable>false</Editable>
            <DisplayName>Phase Shift&#xA;Characterization&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Phase Shift Characterization Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimePhaseShiftCharacterizationDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeReceiveAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="ReceiveAccuracyDate">
            <Column>26</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>Receive&#xA;Accuracy&#xA;Date</DisplayName>
            <Group>FaultTestDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Receive Accuracy Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeReceiveAccuracyDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeReceiveAlignmentDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="ReceiveAlignmentDate">
            <Column>18</Column>
            <Width>103</Width>
            <Editable>false</Editable>
            <DisplayName>Receive&#xA;Alignment&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Receive Alignment Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeReceiveAlignmentDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeReceiveLinearizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="ReceiveLinearizationDate">
            <Column>16</Column>
            <Width>120</Width>
            <Editable>false</Editable>
            <DisplayName>Receive&#xA;Linearization&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest Receive Linearization Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeReceiveLinearizationDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeTdoaAccuracyDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="TdoaAccuracyDate">
            <Column>28</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>TDOA&#xA;Accuracy&#xA;Date</DisplayName>
            <Group>FaultTestDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest TDOA Accuracy Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeTdoaAccuracyDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeTdoaAlignmentDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="TdoaAlignmentDate">
            <Column>22</Column>
            <Width>103</Width>
            <Editable>false</Editable>
            <DisplayName>TDOA&#xA;Alignment&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest TDOA Alignment Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeTdoaAlignmentDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDateTimeTdoaLinearizationDate">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="TdoaLinearizationDate">
            <Column>20</Column>
            <Width>120</Width>
            <Editable>false</Editable>
            <DisplayName>TDOA&#xA;Linearization&#xA;Date</DisplayName>
            <Group>CalibrationDate</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Oldest TDOA Linearization Date</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDateTimeTdoaLinearizationDate">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDoubleMaximumFrequency">
    <xsd:annotation>
      <xsd:appinfo>
        <DisplayUnit>Megahertz</DisplayUnit>
        <DisplayDigits>0</DisplayDigits>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="MaximumFrequency">
            <Column>6</Column>
            <Width>95</Width>
            <Editable>false</Editable>
            <DisplayName>Frequency&#xA;Max</DisplayName>
            <Group>ChannelPortStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Channel Maximum Frequency</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDoubleMaximumFrequency">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtDoubleMinimumFrequency">
    <xsd:annotation>
      <xsd:appinfo>
        <DisplayUnit>Megahertz</DisplayUnit>
        <DisplayDigits>0</DisplayDigits>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="MinimumFrequency">
            <Column>5</Column>
            <Width>95</Width>
            <Editable>false</Editable>
            <DisplayName>Frequency&#xA;Min</DisplayName>
            <Group>ChannelPortStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Channel Minimum Frequency</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stDoubleMinimumFrequency">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtIntChannelNumber">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="ChannelNumber">
            <Column>1</Column>
            <Width>90</Width>
            <Editable>false</Editable>
            <DisplayName>Channel</DisplayName>
            <Group>ChannelPortStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Channel Number</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stIntChannelNumber">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringAmplitudeShiftCharacterizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="AmplitudeShiftCharacterizationStatus">
            <Column>9</Column>
            <Width>143</Width>
            <Editable>false</Editable>
            <DisplayName>Amplitude Shift&#xA;Characterization&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Amplitude Shift Characterization Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringAmplitudeShiftCharacterizationStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringChannelDescription">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="ChannelDescription">
            <Column>2</Column>
            <Width>110</Width>
            <Editable>false</Editable>
            <DisplayName>Description</DisplayName>
            <Group>ChannelPortStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Channel Description</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringChannelDescription">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringPhaseAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="PhaseAccuracyStatus">
            <Column>23</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>Phase&#xA;Accuracy&#xA;Status</DisplayName>
            <Group>FaultTestStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Phase Accuracy Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringPhaseAccuracyStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringPhaseAlignmentStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="PhaseAlignmentStatus">
            <Column>13</Column>
            <Width>103</Width>
            <Editable>false</Editable>
            <DisplayName>Phase&#xA;Alignment&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Phase Alignment Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringPhaseAlignmentStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringPhaseLinearizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="PhaseLinearizationStatus">
            <Column>11</Column>
            <Width>120</Width>
            <Editable>false</Editable>
            <DisplayName>Phase&#xA;Linearization&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Phase Linearization Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringPhaseLinearizationStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringPhaseShiftCharacterizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="PhaseShiftCharacterizationStatus">
            <Column>7</Column>
            <Width>143</Width>
            <Editable>false</Editable>
            <DisplayName>Phase Shift&#xA;Characterization&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Phase Shift Characterization Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringPhaseShiftCharacterizationStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringPort">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="Port">
            <Column>4</Column>
            <Width>85</Width>
            <Editable>false</Editable>
            <DisplayName>Port</DisplayName>
            <Group>ChannelPortStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Port</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringPort">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringReceiveAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="ReceiveAccuracyStatus">
            <Column>25</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>Receive&#xA;Accuracy&#xA;Status</DisplayName>
            <Group>FaultTestStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Receive Accuracy Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringReceiveAccuracyStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringReceiveAlignmentStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="ReceiveAlignmentStatus">
            <Column>17</Column>
            <Width>103</Width>
            <Editable>false</Editable>
            <DisplayName>Receive&#xA;Alignment&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Receive Alignment Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringReceiveAlignmentStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringReceiveLinearizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="ReceiveLinearizationStatus">
            <Column>15</Column>
            <Width>120</Width>
            <Editable>false</Editable>
            <DisplayName>Receive&#xA;Linearization&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>Receive Linearization Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringReceiveLinearizationStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringRfcu">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="Rfcu">
            <Column>3</Column>
            <Width>85</Width>
            <Editable>false</Editable>
            <DisplayName>RFCU</DisplayName>
            <Group>ChannelPortStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>RFCU Number and Name</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringRfcu">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringTdoaAccuracyStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="TdoaAccuracyStatus">
            <Column>27</Column>
            <Width>100</Width>
            <Editable>false</Editable>
            <DisplayName>TDOA&#xA;Accuracy&#xA;Status</DisplayName>
            <Group>FaultTestStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>TDOA Accuracy Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringTdoaAccuracyStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringTdoaAlignmentStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="TdoaAlignmentStatus">
            <Column>21</Column>
            <Width>103</Width>
            <Editable>false</Editable>
            <DisplayName>TDOA&#xA;Alignment&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>TDOA Alignment Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringTdoaAlignmentStatus">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dtStringTdoaLinearizationStatus">
    <xsd:annotation>
      <xsd:appinfo>
        <TranslationEntryList>
          <TranslationEntry EntryType="ChannelPortStatus" EntryName="TdoaLinearizationStatus">
            <Column>19</Column>
            <Width>120</Width>
            <Editable>false</Editable>
            <DisplayName>TDOA&#xA;Linearization&#xA;Status</DisplayName>
            <Group>CalibrationStatus</Group>
          </TranslationEntry>
        </TranslationEntryList>
      </xsd:appinfo>
      <xsd:documentation>TDOA Linearization Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ce:stStringTdoaLinearizationStatus">
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
